<article>
  <div class="row">
      <div class="col-md-3">
        <div class="mini_image">
          <img src="/{{.Params.gallery}}/header.jpg" class="align-middle" width="100%" />
        </div>
      </div>
      
      <div class="col-md-9">
          <header>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    
        {{ partial "post_meta.html" . }}
    
      </header>
    
      <p>
      {{ .Summary }}
      </p>
    
      {{ if .Truncated }}
      <footer>
        <a href="{{ .RelPermalink }}">Read more<i class="fa fa-angle-double-right fa-fw"></i></a>
      </footer>
      {{ end }}
      
      </div>
    </div>


</article>
