</div>
</div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>

{{ partial "google_analytics.html" . }}
{{ partial "piwik_analytics.html" . }}


{{ if .Params.gallery }}
            
            <script src="/lib/Gallery/js/blueimp-gallery.min.js"></script>
    
            <script>
            blueimp.Gallery(
            document.getElementById('links').getElementsByTagName('a'),{
                container: '#blueimp-gallery-carousel',
                carousel: true
            });
            </script>    
            
{{ end }}

</body>
</html>
